<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${s.name}"></h1>
  

    <th:block th:if="${not #lists.isEmpty(breweries)}">
    <table>
        <tr data-th-each="brewery : ${breweries}">
            <td><p data-th-text="*{brewery.beerName}"></p></td>
            <td><p data-th-text="*{brewery.description}"></p></td>
            <td>   <a data-th-href="@{'brewery/' + ${brewery.id}}"
                        data-th-text="${brewery.id}" ></p></td>

            </td>
        </tr>

    </table>
    </th:block>

    <h3><a href="/view0.html">Back</a></h3>

    <th:block th:if="${#lists.isEmpty(breweries)}">
        <h3>No beers found for this style</h3>
    </th:block>

</body>
</html>


