<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${s.name}"></h1>

    <th:block th:if="${not #lists.isEmpty(beers)}">
    <table>
        <tr>
            <td>Beer name</td>
            <td>Description</td>
            <td>Brewery Name</td>
        </tr>
        <tr data-th-each="beer : ${beers}">
            <td><p data-th-text="*{beer.beerName}"></p></td>
            <td><p data-th-text="*{beer.beerDescription}"></p></td>
            <!-- <td>   <a data-th-href="@{'brewery/' + ${beer.breweryId}}"
                        data-th-text="'('+*{beer.breweryId}+')'+*{beer.breweryName}" ></a></td>
            </td> -->
            <td>   <a data-th-href="@{'/beer/style/brewery/' + ${beer.breweryId}}"
                data-th-text="'('+*{beer.breweryId}+')'+*{beer.breweryName}" ></a></td>
            </td>            
            <!-- (path="/beer/style/brewery/{breweryId}") -->
    </td>
        </tr>

    </table>
    </th:block>

    <h3><a href="/view0.html">Back</a></h3>

    <th:block th:if="${#lists.isEmpty(beers)}">
        <h3>No beers found for this style</h3>
    </th:block>

</body>
</html>


